* {
  box-sizing: border-box;
  margin: 0;
  padding:0
}

.welcome {
  position:fixed;
  top: 25vh;
  left:45%;
  font-size: 5vh;
  width: 50%;
  text-align: center;
  border: solid 2px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.404);
  color:rgb(0, 27, 77);
}

.home {
  background: url(https://image.freepik.com/free-vector/cartoon-bath-cute-white-hot-shower-bathtub-with-bubbles-toy-inside-bathroom-isolated-relaxing-room-illustration_176411-1013.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.login {
  float:right;
  padding-right: 10px;
  padding-top: 15px;
  font-size: 24px;

}

.auth-opened {
  position: fixed;
  top:9vh;
  height: 60vh;
  width:100vw;
  background-color: rgb(0, 13, 48);
  transition: opacity 0.4s, top 0.4s;
  color: white;
  z-index: 2;
}

.auth-closed {
  position: relative;
  top: -300px;
  opacity: 0;
  transition: opacity 0.4s, top 0.4s
}

.auth-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;

}

.auth-input-box {
  height: 5vh;
  width: 50vw;
  text-align:center;
  margin: 10px;

}

.auth-button-container {
  height:50px;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 25px;
}

.login-button {
  width: 20vw;
  font-size: 16px;
  background-color: rgb(0, 13, 48);
  border: solid 2px rgb(108, 205, 250);
  color:rgb(108, 205, 250);
  z-index: 5;
  transition: opacity 0.4s, top 0.4s

}

.register-button {
  width: 20vw;
  font-size: 16px;
  background-color: rgb(0, 13, 48);
  border: solid 2px rgb(108, 205, 250);
  color:rgb(108, 205, 250);
  transition: opacity 0.4s, top 0.4s

}

.login-button:hover {
  cursor: pointer;
}

.auth-error-msg {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border: solid 2px;
  background-color:rgb(108, 205, 250);
}

.close-err {
  padding-left: 25px;
}

.close-err:hover {
  cursor: pointer;
  color: rgb(0, 13, 48); 
}

.kid-view {
  background:rgb(255, 251, 232);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh; 
}

.kid {
  height: 30vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(45, 54, 133);
  margin:15px;
  background:rgba(182, 206, 218, 0.89);
}

.kid-top {
  display: flex;
}

.kid-pencil-view {
  display: flex;
}

.name-pencil {
  display: flex;
  width: 80%;
  height: 15%;
}

.edit-name-input {
  width: 50%;
  height: 30px;
  border: solid 1px grey;
  background: rgb(225, 236, 241);
  box-shadow: none;
  padding-right: 15px;
}

.edit-kid-submit {
  height:30px;
  background: none; 
  border: none; 
  box-shadow: none;
  font-size: 16px;
  padding: 5px;
}

.edit-kid-close {
  height:30px;
  background: none; 
  border: none; 
  box-shadow: none;
  font-size: 16px;
  padding: 5px;
}

.kid-name {
  text-transform: capitalize;
  font-size: 24px;
  width: 90px;
}

.pencil {
  height: 25px;
  width: 25px;
  font-size: 24px;
  margin-right: 5px;
}

.view-events {
  padding-top: 5px;
  height: 100%;
  text-decoration: none;
  width: 120px;
  padding-left: 15px;
}

.trash {
  padding-left: 70px;
}

.add-kid {
  background:rgba(182, 206, 218, 0.705);
  height: 10vh;
  width: 95vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
  margin:15px;
}

.add-kid-button {
  height: 50%;
  width: 15vw;
  font-size: 20px;
  background-color: rgba(182, 206, 218, 0.89);
  color: rgb(1, 14, 71);
  border: solid 1px rgb(1, 14, 71);
  box-shadow: none;
}

.add-kid-button:hover {
  background: rgb(1, 14, 71);
}

.add-kid-input {
  height: 50%;
  padding-left:15px;
  background: rgb(255, 251, 232);
  border: solid 1px rgb(1, 14, 71);
  
}

.event-dropdown {
  color:rgb(0, 13, 48);
  background: rgb(255, 251, 232);
  text-align: center;
  margin:5px; 
}

.time-row {
  width:80%;
  padding:15px;
}
.date-row {
  width:80%;
  padding:15px;
}

.time-label {
  margin-right: 5px;
  font-size: 18px;
}

.date-label {
  font-size: 18px;
  margin-right: 30px;
}

.month-dropdown {
  margin-right: 15px;
  margin-left: 5px;
  background: rgb(255, 251, 232);
}

.day-dropdown {
  margin-left: 5px;
  background: rgb(255, 251, 232);
}

.time-date-container {
  width:100%;
}

.event-submit {
  margin-left: 15px;
  height:30px;
  background: rgb(255, 251, 232);
  border: rgb(0, 13, 48) solid 1px;
  padding: 5px;
}

/* Kid Nav */

.nav {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  align-items: center;
}

.kid-nav-section {
  display: flex;
  justify-content: flex-end;
  height:10vh;
}

.kid-nav-ham {
  position:fixed;
  font-size: 40px;
  padding: 10px;
}

.nav-menu-closed {
  width:80vw;
  height:100%;
  text-align: right;
  position: relative;
  top: -300px;
  transition: opacity 0.5s, top 0.4s;
}

.nav-menu-opened {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  top: 10vh;
  width:100vw;
  background: rgb(1, 14, 71);
  border: solid 1px rgb(148, 193, 245);
  z-index: 5;
  height: 30vh;
  transition: opacity 0.4s, top 0.4s;
}


.kid-nav-notification {
  font-size: 20px;
  text-decoration: none;
  color:rgb(148, 193, 245);
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.kid-nav-logout {
  text-decoration: none;
  color:rgb(148, 193, 245);
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  margin-right: 20px;
}

/* End Kid Nav */

/* EVENT VIEW */

.event-view {
  height: 100vh;
  width: 100vw; 
  background: rgb(148, 193, 245);
}

.event {
  display: flex;
  border-bottom: solid 1px;
}

.event-kid-name {
  text-transform: capitalize;
  text-decoration: underline;
}

.date-event {
  margin: 5px;
}

.time-event {
  margin: 5px;
}

.type-event {
  margin: 5px;

}

.event-nav-section {
  display: flex;
  justify-content: flex-end;
  width:100%;
  height:10vh;
}

.event-nav-ham {
  font-size: 40px;
  position: fixed;
  padding: 5px;
  padding-right: 20px;
}

.event-nav-menu-opened {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  top: 10vh;
  width:100vw;
  background: rgb(240, 229, 171);
  border: solid 1px rgb(1, 14, 71);
  transition: opacity 0.4s, top 0.4s;
}

.event-nav-menu-closed {
  position:relative;
  top: -300px;
  right: -300px;
  transition: opacity 0.4s, top 0.4s;
}

.event-nav {
  margin: 10px;
  height:100%;
  font-size: 20px;
  text-decoration: none;
  color:rgb(1, 14, 71);
}

.event-list {
  padding: 10px;
  border: 1px solid rgb(1, 14, 71);
  height: 100%;
}

/* END EVENT */


@media (min-width:650px) {
  .welcome {
    left: 25%;
    width: 40%;
    font-size: 6vh;
  }
}


@media (min-width:1000px) {

  .welcome {
    left:15%;
  }

  .auth-opened {
    position: fixed;
    top:10vh;
    right: 0;
    height: 80vh;
    width:40vw;
    background-color: rgb(0, 13, 48);
    transition: opacity 0.4s, right 0.4s;
    color: white;
    z-index: 2;
  }
  
  .auth-closed {
    position: relative;
    top: -300px;
    opacity: 0;
    transition: opacity 0.4s, right 0.4s
  }

  .auth-input-box {
    height: 5vh;
    width: 15vw;
    text-align:center;
    margin: 10px;
  }
  
  .auth-button-container {
    width: 25vw;
  }
  
  .login-button {
    width: 10vw;
  }
  
  .register-button {
    width: 10vw;
  }

  .kid-nav-ham {
    font-size: 0px;
  }

  .nav {
    position: static;
    flex-direction: row;
  }

  .kid-nav-section {
    flex-direction: row;
    
  }
  
  .nav-menu-closed, .nav-menu-opened {
    position:static;
    flex-direction: row;
  }

  
}

@media (max-width: 1350px) {

  .welcome {
    top: 35vh;
  }
}


/* TRASH CAN */

.icon-trash {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}

.icon-trash .trash-lid {
  width: 62%;
  height: 10%;
  position: absolute;
  left: 50%;
  margin-left: -31%;
  top: 10.5%;
  background-color: rgb(1, 48, 110);
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg); 
}

.icon-trash .trash-lid:after {
  content: "";
  width: 26%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -13%;
  margin-top: -10%;
  background-color: inherit;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg); 
}

.icon-trash .trash-container {
  width: 56%;
  height: 65%;
  position: absolute;
  left: 50%;
  margin-left: -28%;
  bottom: 10%;
  background-color: rgb(1, 48, 110);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.icon-trash .trash-container:after {
  content: "";
  width: 110%;
  height: 12%;
  position: absolute;
  left: 50%;
  margin-left: -55%;
  top: 0;
  background-color: inherit;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.icon-trash .trash-line-1 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 38%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #d3effa;
}

.icon-trash .trash-line-2 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #d3effa;
}

.icon-trash .trash-line-3 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 62%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #d3effa;
}

/* END TRASH CAN */

